body {
  padding: 10px;
  margin: 0;
  background-color: #fff;
  background-image: url(back.jpg);
  background-size: 100%;
  background-position: fixed;
}

a, header, p {
  font-family: Barlow;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 5px;
  color: #eee;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

li {
  margin: 0px 10px;
  float: left;
}

section {
  display: flex;
  flex-direction: column;
}

section a:last-child {
  margin-bottom: 20px;
}

header {
  margin: 20px 5px 40px 5px;
  color: rgba(220, 170, 20, 0.8);
  font-size: 3.05rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

p {
  font-size: 1rem;
  color: #eee;

}

a {
  text-decoration: none;
  font-size: 1.7rem;
  color: rgba(220, 200, 30, 0.9);
  text-shadow: 2px 2px rgba(60, 60, 20, 0.8);
  display: block;
  line-height: 2.2rem;
  padding: 5px;
}

a:hover {
  color: #eee;
  text-shadow: 2px 2px rgba(1, 1, 1, 0.8);
}

#swerve, #swerve2 {
  width: 105vw;
  height: 105vw;
  background-color: rgba(120, 210, 100, 0.3);
  position: absolute;
  left: -10vw;
  top: -10vw;
  border-radius: 50%;
  z-index: 0;
}

#swerve2 {
  width: 60vw;
  height: 60vw;
  background-color: rgba(220, 100, 100, 0.6);
}

@media only screen and (max-width: 800px) {
  header {
    color: rgba(100, 220, 190, 0.7);
  }
  #swerve2 {
    width: 50vw;
    height: 50vw;
    background-color: rgba(20, 100, 230, 0.5);
  }
}

@media only screen and (max-width: 600px) {
  header {
    color: rgba(50, 220, 120, 0.9);
  }
  #swerve2 {
    width: 40vw;
    height: 40vw;
    background-color: rgba(20, 200, 230, 0.5);
  }
}
